.App {
  width: 100vw;
  height: 100vh;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: .5fr .2fr repeat(3, 1fr);
  box-sizing: border-box;
}

.card-container {
  max-width: 100vw;
  grid-area: 3 / 1 / 6 / 5;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 1fr;
  box-sizing: border-box;
  margin: 1rem;
  }

@media screen and (max-width: 820px) {
  .card-container {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 400px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}

img {
  width: 100%;
  height: 100px;
}

.card{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #FF0E0A;
  border-radius: 10px;
  margin: .2rem;
  cursor: pointer;
  background: #E34234;
}

.card:hover {
  transform: scale(1.02);
  opacity: .7
}

.card0-text, .card1-text, .card2-text, .card3-text, .card4-text, .card5-text, .card6-text,.card7-text, .card8-text, .card9-text, .card10-text, .card11-text {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}