.header {
  grid-area: 1 / 1 / 2 / 6;
  box-sizing: border-box;
  font-size: 4rem;
  padding: 1rem;
  color: #ffffff;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .header {
    font-size: 3rem;
  }
}
